{% extends "soundbored/base_template.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>

{% block content %}
<body>
<div class="flex-container p-3" style="width: 100vw; background-color: #ddddc6; color: #1d1e2c;">
  <div class="text-center" style="display: flex; align-items: center;">
    <img src="{% static 'src/icons/sound_wave.svg' %}" class="title-icon">
    <h1 class="text-center font-title title">Explore Our Sound Library</h1>
  </div>
  <div class="row">
    {% for audio in audios %}
      {% include 'includes/audio_button.html' %}
    {% endfor %}
  </div>
</div>
</body>
{% endblock content %}
</html>
