{% extends "soundbored/base_template.html" %}
{% load static %}
<!DOCTYPE html>

<head>
    <title>Home</title>
</head>

{% block content %}
  <!-- Main content -->
  <div class="flex-container m-3" style="width: 80vw;">
    <h1>Uploaded Audio Files (Home)</h1>
    <div class="row">
      {% for audio in audios %}
      <div class="col-3 text-center">
        <h2>{{ audio.title }}</h2>
        {% if user.is_authenticated %}
         <!-- only shows if user is logged in -->
         <a href="{% url 'delete_audio' audio.id %}" class="delete-button" onclick="return confirm('Are you sure?');">✖</a>
        {% endif %}
        <img src="{{ audio.image.url }}" alt="{{ audio.title }}" class="audio-image" onclick="togglePlay('audio{{ audio.pk }}')">
        <audio id="audio{{ audio.pk }}" src="{{ audio.audio_file.url }}" preload="none"></audio>
        {% if user.is_authenticated %}
          <!-- only shows if user is logged in -->
          <a href="{% url 'toggle_favorite' audio.id %}" class="favorite-button" onclick="return confirm('Add to favorites?');">
          {% if request.user in audio.favorites.all %}
            ❤ Unfavorite
          {% else %}
            ♡ Favorite
          {% endif %}
        {% endif %}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <script>
      // Function to toggle play/pause
      function togglePlay(audioId) {
          var audio = document.getElementById(audioId);
          if (audio) {
              if (audio.paused) {
                  audio.play();
              } else {
                  audio.pause();
                  audio.currentTime = 0;
              }
          }
      }
  </script>
{% endblock content %}