{% extends "soundbored/base_template.html" %}
{% load static %}
{% block content %}
<body>
  <div class="flex-container p-4" style="width: 100vw; background-color: #ddddc6; color: #1d1e2c;">
    <div class="text-center" style="display: flex; align-items: center;">
      <h1 class="font-title title">My Sound Boreds</h1>
    </div>
    <div class="row">
      {% for soundboard in soundboards %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 text-center py-4">
          <div class="d-button-container">
            <a href="{% url 'delete_soundboard' soundboard.pk %}" class="delete-button" onclick="return confirm('Are you sure you want to delete {{ soundboard.title }}?');">✖</a>
            <img src="{% static 'src/soundboard.png' %}" style="height: 90%; width: 90%; border-radius: 30%;" onclick="location.href='{% url 'soundboard_view' soundboard.pk %}'"></img>
          </div>
          <h2 class="text-center font-sound-title" style="margin-top: 4px; font-size: 20px;">{{ soundboard.title }}</h2>
        </div>
      {% endfor %}
    </div>
    <a class="btn" style="margin-top: 10vh; margin-left: 4vw; background-color: white; color: #3B3B3B; border: 2px solid #1A1A1A; font-weight: 600;" href="{% url 'soundboard_upload_view' %}">Create A New Sound-Bored</a>
  </div>
</body>
{% endblock %}
