{% extends "soundbored/base_template.html" %}
{% load static %}

{% block content %}
  <div class="flex-container p-3" style="width: 100vw; background-color: #ddddc6; color: #1d1e2c;">
    <h1 class="font-title title">Upload a New Sound-Bored</h1>
    <form id="soundboard-form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p class="font-title" style="font-size: 30px;">Title</p>
      <div class="form-group pb-3">
        {{ form.title }}
      </div>
      <p class="font-title" style="font-size: 30px;">Choose Your Sounds</p>
      <div class="row" style="width: 20vw;">
        <div class="col-4 text-center">
          <ul style="height: 100%; display: flex; flex-direction: column; justify-content: space-around; list-style-type: none; padding: 0px;">
          <!--Check Boxes-->
          {% for a in form.audios %}
            <li>{{ a.tag }}</li>
          {% endfor %}
          </ul>
        </div>
        <div class="col-6 text-center" style="">
          <!--Audio Images-->
          {% for audio in audios %}
          <div class="img-container" style="background-image: url('{% static 'src/floppy.png' %}');" onclick="togglePlay('audio{{ audio.pk }}')">
            <img src="{{ audio.image.url }}" alt="{{ audio.title }}" class="audio-image">
          </div>
          <audio id="audio{{ audio.pk }}" src="{{ audio.audio_file.url }}" preload="none"></audio>
          <div class="font-sound-title">{{ audio.title }}</div>
          {% endfor %}
        </div>
      </div>
      <button class="sub-button" type="submit">Upload</button>
    </form>
  </div>
</div>
  <script>

  </script>
{% endblock content %}