.title {
  font-size: 4em;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.title-icon {
  height: 4em;
  width: 4em;
  margin-right: 10px; 
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.audio-image {
  width: 70px; 
  height: 56px; 
  object-fit: cover;
  cursor: pointer; 
  border-radius: 0%;
}
.audio-image:hover {
  box-shadow: darkgrey 0px 3px 8px;
}

.d-button-container {
  position: relative;
  display: inline-block;
  background-size: cover;
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer
}

.img-container {
  position: relative;
  display: inline-block;
  background-size: cover;
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer
}

.delete-button {
  position: relative;
  right: -50px;
  top: 2px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 12px;
  line-height: 1;
  z-index: 1;
}
.delete-button:hover {
  background-color: #d32f2f;
}

.favorite-button {
  color: red;
  font-weight: bold;
  text-decoration: none;
}