
.audio-image {
    width: 100px; 
    height: 100px; 
    object-fit: cover; /* This makes sure the image covers the area, may crop */
    cursor: pointer; 
    border-radius: 50%;
}
.delete-button {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.favorite-button {
    color: pink;
    font-weight: bold;
    text-decoration: none;
}
